# Stock Price Prediction

In [5]:
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
import yfinance as yf

In [8]:
# GOLD
stocks = "GC=F"
data = yf.download(stocks, start="2020-01-01", end="2021-01-01", auto_adjust=True)
data.head()

[*********************100%%**********************]  1 of 1 completed

                   Open         High          Low        Close  Volume
Date
2020-01-02  1518.099976  1528.699951  1518.000000  1524.500000     214
2020-01-03  1530.099976  1552.699951  1530.099976  1549.199951     107
2020-01-06  1580.000000  1580.000000  1560.400024  1566.199951     416
2020-01-07  1558.300049  1576.300049  1558.300049  1571.800049      47
2020-01-08  1579.699951  1604.199951  1552.300049  1557.400024     236

In [10]:
data.shape

(253, 5)

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 253 entries, 2020-01-02 to 2020-12-31
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    253 non-null    float64
 1   High    253 non-null    float64
 2   Low     253 non-null    float64
 3   Close   253 non-null    float64
 4   Volume  253 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 11.9 KB